

.main-box{
    overflow: hidden;
    width: 100vw;
}

p.slide-text{
    animation-name: slide-text-in, moveLeft300px;
    animation-duration: 3s, 1s;
    animation-iteration-count: 3, 1;
    animation-direction: alternate;
}

@keyframes slide-text-in{
    0% {
        /* hides the content off the edge of the page */
        margin-left: 100%;
        /* makes the content much longer than the width of the window */
        width: 300%;
    }

    /* 75%{
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    } */

    100% {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes moveLeft300px{
    0%{
        margin-left: 300%;
    }
    100%{
        width: 100%;
    }
}













