*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* flex */
        /* stretch (enforcing the default) */
        align-items: stretch;
}

body{
    font-family: 
        Arial, 
        Helvetica, 
        sans-serif;
}

a{
    text-decoration: none;
}











