.container{
    /* display */
        display: flex;
}
.box{
    flex: 1;
    padding: 1rem;
    background: var(--primary-color);
}

/* Buttons */
    .btn {
        padding: .3rem 1rem .3rem 1rem;
        border-radius: .35rem;
        
    }
        .btn:hover{
            cursor: pointer;
        }
    .btn-primary{
        background: var(--primary-color);
        color: var(--light-color);
    }
    .btn-dark{
        background: var(--dark-color);
        color: var(--light-color);
    }
        .btn-dark:hover{
            background: var(--primary-color);
            color: black;
            font-weight: bold;
            border: 
                .1rem 
                var(--light-color) 
                solid;
        }