.container{
    /* display */
        display: flex; 
        align-items: center; 
        justify-content: center;
    min-height: 200px; 

}
.box{
    width: 100px;
    height: 100px;
    background: lightgray;
} 